.page-font{
    color: black;
    font-family: 'Inter', sans-serif;
}

.pages{
    margin-top: 80px;
}


.input-form{
    display: flex;
    flex-direction: column;
}

.edit-mode-label{
    font-size: 13px;
    color: #5C5C5C;
}

.display-mode-label{
    border: none;
    background-color: inherit;
    text-align: right;
    color: #5C5C5C;
    font-size: 20px;
    font-weight: bold;
}

.edit-mode-input{
    border: none;
    background-color: inherit;
    font-size: 20px;
}

.scrollable-div {
    height: 250px;
    overflow: auto;
    margin: 10px;
    text-align: justify;
}

.horizontal-scrollable-div {
    /*height: 200px;*/
    /*overflow: auto;*/
    /*margin: 10px;*/
    /*text-align: justify;*/

    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    /*height: 20px;*/
}

.display-mode-input{
    border: none;
    background-color: inherit;
    text-align: right;
    font-size: 20px;
    color: black;
}

.edit-button{
    color: #777777;
    font-size: 14px;
}

.done-button{
    background-color: #3293EE;
    border-radius: 20px;
    font-size: 14px
}

.blue-text{
    color: #0B80ED;
}

.experience-info{
    border-radius: 20px;
    border: 2px solid #3293EE;
    font-size: 17px;
    text-align: center;
}